<div class="card l">
  <h1>Pipes de texto</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>Uppercase</td>
      <td>{{texto}}</td>
      <td>{{texto | uppercase}}</td>
    </tr>
    <tr>
      <td>Lowercase</td>
      <td>{{texto}}</td>
      <td>{{texto | lowercase}}</td>
    </tr>
    <tr>
      <td>Titlecase</td>
      <td>{{texto}}</td>
      <td>{{texto | titlecase}}</td>
    </tr>
  </table>
  <h1>Pipe slice</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>slice</td>
      <td>{{id}}</td>
      <td>{{id | slice: -3}}</td>
    </tr>
  </table>
  <h1>Pipe date</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>date</td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "dd/MM/yyyy hh:mm"}}</td>
    </tr>
    <tr>
      <td>date</td>
      <td>{{fecha}}</td>
      <td>{{fecha | date: "long"}}</td><!-- opciones "medium" y "short"-->
    </tr>
  </table>
  <h1>Pipe decimal</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>decimal</td>
      <td>{{importe}}</td>
      <td>{{importe | number: ".2-2"}}</td>
      <!-- Nº Mínimo de enteros (si no lo ponemos no límita) Nº Máximo de decimales Nº Mínimo de decimales-->
    </tr>
  </table>
  <h1>Pipe currency</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>Currency</td>
      <td>{{importe}}</td>
      <td>{{importe | currency: 'EUR'}}</td>
    </tr>
  </table>
  <h1>Pipe JSON</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>JSON</td>
      <td>{{actor}}</td>
      <td><pre>{{actor | json}}</pre></td>
    </tr>
  </table>
  <h1>Pipe propio (lo hemos llamado número)</h1>
  <hr>
  <table>
    <tr>
      <th>Pipe</th>
      <th>Valor sin pipe</th>
      <th>Valor con pipe</th>
    </tr>
    <tr>
      <td>numero</td>
      <td>{{importe}}</td>
      <td>
        {{importe | numero: numeroDecimales: '€'}}
        <button class="mini" (click)="setNumeroDecimales(1)">+</button>
        <button class="mini" (click)="setNumeroDecimales(-1)">-</button>
      </td>
    </tr>
  </table>
</div>